[2019-02-18 15:31] tetiana-kolmychek-devv opened #1 "Chat: Add send message with keyboard keys"
keys to trigger send message: ctrl+Enter
additionally: ignore action on empty text

[2019-02-18 15:35] tetiana-kolmychek-devv opened #2 "Chat: Parse newlines in displayed messages"
At the moment when displayed message contains newlines, they are ignored.
We should add parsing and display of them to improve readability of long messages.

[2019-02-18 15:38] tetiana-kolmychek-devv opened #3 "Add "not found" error page"
At the moment we don't have page where user would be routed when url does not exist.
We should add one and make sure users get redirected there when appropriate.

[2019-02-18 15:48] tetiana-kolmychek-devv opened #4 "Chat: add search by company name/representative name"
There is a styled commented section in ChatNavigation component that was not implemented.
We should add functionality to commented element to search by company name or representative name.
Search should happened only in active tab and be "on the go" - without user pressing any buttons to submit form.

(For the example of similar functionality you can check how search is implemented in tests)

[2019-02-18 15:49] tetiana-kolmychek-devv opened #5 "Build: update Webpack to version 4 and dev-server to version 3"

[2019-02-22 15:25] DevvKris opened #8 "Creating tests"
Hi!

We need to create a lot of questions for different technologies.
There's really no upper limit.
Company users ask mainly for PHP, JAVA, AngularJS, NodeJS

[2019-02-22 15:28] DevvKris opened #9 "single sign-on/in"
single sign-on/in with;
github/bitbucket/google/facebook

[2019-02-22 16:26] DevvKris opened #10 "documents parsing"
we get a lot of CV's sent to us.
Even if we don't embrace CV's - we could add a section called "work history" without specific details.
This could be populated by singe-on functions, but could also be populated by a .pdf parsing function

[2019-02-23 16:49] #8 closed

[2019-02-23 16:49] #9 closed

[2019-02-23 16:49] #10 closed

[2019-02-23 19:40] Yusadolat commented on #3
Hey @tetiana-kolmychek-devv I wanna work on this issue, Can I ?

[2019-02-23 20:23] DevvKris commented on #3
Feel free! // Kris

[2019-02-23 23:16] nocategory opened #11 "package.json scripts env variables aren't recognized on Windows"
Setting environment variables doesn't work the same way on Linux/Mac/Windows. For that reason, the current way env variables are set on package.json isn't recognized by Windows.
![image](https://user-images.githubusercontent.com/12294525/53292810-c501f880-37c0-11e9-9d8e-b374fa9d73df.png)

[2019-02-25 08:50] #11 closed

[2019-02-25 09:54] lilsweetcaligula commented on #1
Looking into it.
Kind Regards.

[2019-02-25 10:27] tetiana-kolmychek-devv opened #15 "Chat: Redirect to `/chat` if contact with id from url was not found (only when there are no contacts)"
Right now if user mistypes in chat url, page will show loader on the place of messages.
Instead we should redirect to `/chat` route.

[2019-02-25 10:34] tetiana-kolmychek-devv commented on #3
Deployed to development, after testing and deploy to production this issue can be closed.

Url for testing on development version: https://dev.devv.jobs

[2019-02-25 10:48] tetiana-kolmychek-devv opened #16 "Describe new label in readme"

[2019-02-25 10:53] ivan-kolmychek-devv opened #18 "Automatic deployment to dev.devv.jobs is broken."
Due to an overlook during pipeline configuration, auto-deployment of master branch to dev.devv.jobs is broken right now.

I'm looking into how it can be fixed, but until then we'll have to trigger builds manually after PR merges.

I apologize for any inconvenience.

[2019-02-25 11:08] ivan-kolmychek-devv opened #19 "Address security alerts from Github insights"

[2019-02-25 11:10] #16 closed

[2019-02-25 11:19] lilsweetcaligula commented on #15
Could you please help me reproduce this issue?

Currently, if I have open the chat page with a path, like this:
/profile/chat/zzzzzzzz-zzzz-zzzz-zzzz-zzzzzzzzzzzz

- mistyping the uuid and pressing the Return key, will redirect me to the chat page and display the chat list. The loader will promptly disappear.

[2019-02-25 11:31] tetiana-kolmychek-devv commented on #15
@lilsweetcaligula if you type wrong `id` after `profile/chat/` and don't press any keys, you should see something like this (if you have any contacts, you will not see empty contacts message, just loader)
![screenshot_20190225_111019](https://user-images.githubusercontent.com/23338797/53334430-17463500-38f9-11e9-9c60-93b3e995ee65.png)

My suggestion is to redirect user to `/profile/chat` in case l

[2019-02-25 11:54] lilsweetcaligula commented on #15
Oh, I see now. It only seems to happen when you have no chats at all.

[2019-02-25 12:27] tetiana-kolmychek-devv commented on #15
@lilsweetcaligula tested, you are right, I changed title of the issue.

[2019-02-25 14:48] tetiana-kolmychek-devv opened #21 "Set up automated tests?"
As of this moment, we don't have any automated tests due to the lack of resourses and time.

Now we have opened the repository to everyone, so it may be beneficial to start adding them, since they can provide more immidiate feedback to contributors.

We already have Travis CI set up as check that runs on each pull-request, but right now it just confirms that we can build bundle out of the source c

[2019-02-26 08:22] ivan-kolmychek-devv opened #23 "Refactoring: Define and use constants for calls to router instead of literals"
[This comment](https://github.com/DevvJobs/candidates-web/pull/22#discussion_r259933882) provides context and more details.

[2019-02-26 08:51] ivan-kolmychek-devv commented on #15
The #22 has been deployed to https://dev.devv.jobs now.

[2019-02-26 09:02] ivan-kolmychek-devv commented on #18
Since it's has been almost 24 hours, I think this deserves status update and a bit more details.

We use private Buildkite pipeline to build code from this repo into final bundle and deliver it to to [development](https://dev.devv.jobs) and [live/production](https://devv.jobs) environments.

[Buildkite has security check turned on by default that prevents builds from being triggered if the email o

[2019-02-26 16:02] DevvKris opened #25 "Landing: Redesign"
Our landing is still from our Beta-test.
I think it's time to get a better one!
Something that is creative and appealing to us as developers.
Sign-up should be clear as well as log-in and logo we kinda need :)
The rest, I guess we aim for free hands

[2019-02-26 16:05] DevvKris opened #26 "Discussion: Single SignUp/SingIn"
What about adding signup/signin via GitHub, Google, Bitbucket and Facebook?

[2019-02-26 16:14] DevvKris opened #27 "Discussion: Parsing of documents/Link scraping."
As part of making signup as easy as possible, we are thinking if there would be any benefit of adding an uploaded document parsing and the ability to add a link to be scraped and imported.
We are not sure, what do you think?

[2019-02-26 20:28] ivan-kolmychek-devv commented on #2
Deployed to https://dev.devv.jobs.

[2019-02-27 10:33] ivan-kolmychek-devv opened #29 "Feedback, API-related issues and so on"
https://github.com/DevvJobs/candidates-feedback

We have decided to create a separate repository for all the issues that do not fit here, like general feedback on what and how everything is done, API-related issues, etc. etc.

We did it mostly so issues in this repository can focus on all that is directly related to code that lives here.
We highly value time that you, contributors, decide to spend

[2019-02-27 10:36] ivan-kolmychek-devv commented on #18
Buildkite support got back to us and wrote that check has been disabled.

Until we merge any new external contribution we can't say for sure that issue has been resolved, so I'll leave it open until we can.

[2019-02-27 10:55] ivan-kolmychek-devv opened #30 "Add link to repository in UI for logged in people?"
#25 talks about adding link to repo to landing page, but then you would have to be logged out to see it.

How should it look and where should it be? Suggestions are welcome. :slightly_smiling_face:

[2019-02-27 10:55] ivan-kolmychek-devv commented on #25
Sounds good to me. If we can fit somewhere there a section with acknowledging contributors and noticeable link to this repo, it would be even better. :slightly_smiling_face:

As this issue is only about landing, I took a liberty and created #30 to add link somewhere in part that we see when we are already logged in.

Let's hope someone with good graphical design skills will stumble upon the issue,

[2019-02-27 10:56] tetiana-kolmychek-devv commented on #30
I would suggest to place it in the sidebar, mb near logout link.

[2019-02-27 12:55] lilsweetcaligula commented on #30
Maybe append a footer to the page, and place the repo link in the footer, potentially along with other contact and legal info?

[2019-02-27 13:01] tetiana-kolmychek-devv commented on #1
Deployed to https://devv.jobs.

[2019-02-27 13:01] #1 closed

[2019-02-27 13:01] tetiana-kolmychek-devv commented on #2
Deployed to https://devv.jobs.

[2019-02-27 13:01] #2 closed

[2019-02-27 13:01] tetiana-kolmychek-devv commented on #3
Deployed to https://devv.jobs.

[2019-02-27 13:01] #3 closed

[2019-02-27 13:01] tetiana-kolmychek-devv commented on #15
Deployed to https://devv.jobs.

[2019-02-27 13:01] #15 closed

[2019-02-27 13:02] tetiana-kolmychek-devv commented on #19
Deployed to https://devv.jobs.

[2019-02-27 13:02] #19 closed

[2019-03-01 05:53] tetiana-kolmychek-devv commented on #4
Deployed to development version, needs testing from actual mobile interfaces, not browser simulation.
Link for testing: https://dev.devv.jobs

[2019-03-01 07:10] tetiana-kolmychek-devv commented on #4
I confirmed that it works for desktop, but not for the mobile phones.
For mobile chat changes need to be propagated to `ChatThreads` component.

@lilsweetcaligula would you like to do that or should I create a separate issue?

[2019-03-01 10:58] tetiana-kolmychek-devv commented on #18
Can confirm that now deploy us working again.

[2019-03-01 11:47] lilsweetcaligula commented on #4
@tetiana-kolmychek-devv Could you create a separate issue please? Then it can be picked up by whoever is available at the time. If I have the time, I'll look into it.

[2019-03-01 17:11] tetiana-kolmychek-devv opened #31 "Chat mobile: propagate search from desktop view"
In issue #4 search was implemented for desktop chat.
Now it needs to be propagated to mobile chat in `ChatThreads` component.

[2019-03-01 23:17] nocategory commented on #25
Hey guys, so I made a little mockup of my ideas in a few minutes (just the first part of landing for now):
![asset 7](https://user-images.githubusercontent.com/12294525/53671493-8368c600-3c76-11e9-951b-098af4624ba0.png)

I'm just like @ivan-kolmychek-devv though, no good graphical design skills, but since no professional designer came here for now, I just got some inspiration from other websites a

[2019-03-04 13:03] #18 closed

[2019-03-04 20:59] nocategory commented on #25
So, I've been working on the rest of the landing page for the past day with the available info, and this is what I've ended up with:

![landing](https://user-images.githubusercontent.com/12294525/53762339-c2d62300-3ebf-11e9-9a1b-83c3c90c37db.jpg)

Feedback is appreciated!

[2019-03-04 22:26] DevvKris commented on #25
Really impressed. Let me gather some thoughts and get back to you within a day.

[2019-03-06 10:13] ivan-kolmychek-devv commented on #31
Deployed to https://dev.devv.jobs.

[2019-03-06 16:49] DevvKris commented on #25
Alright! As I wrote above it looks really good.
Maybe we should remove logos of companies as they continue to increase. It could potentially be a massive point of manual updating.  On the other hand maybe it’s reassuring to see which companies are using it?

Love the GitHub-section. Maybe we should show the issues already there? What do you think?

[2019-03-06 17:10] nocategory commented on #25
Hey @DevvKris, I believe showing the company logos is a big thing. It shows the potential users what companies use your platform. Personally, if I were a new user and I visited your platform and didn't see some of the companies you work with, the credibility of the platform would go really down.
If I'm looking for a job, I feel like trusting a platform that works with "known brands" (as you do) is

[2019-03-07 12:18] #31 closed

[2019-03-07 12:18] #4 closed

[2019-03-07 12:24] tetiana-kolmychek-devv commented on #25
@nocategory I have just one small question. :)
Are those images made by you?
If not, can you provide the source so we can make sure that they can be actually use from copyright/license perspective?

[2019-03-07 12:53] nocategory commented on #25
@tetiana-kolmychek-devv They're not made by me (since, as I already mentioned, I suck at designing stuff). These are the sources:

- Icons from https://feathericons.com/
- Humans and app background on the first part of landing from https://www.humaaans.com/
- Rounded section and pointy background on "How it works" from https://www.uistore.design/items/free-landing-page-booklov/
- Blue circles on b

[2019-03-07 22:53] nocategory commented on #25
@DevvKris I tried placing issues in the GitHub section just for the sake of demonstration, and I think it looks quite nice too. Give it a look:
![landing_v2](https://user-images.githubusercontent.com/12294525/53994991-aa6a4080-412b-11e9-8558-d740dd559080.jpg)

[2019-03-08 10:35] ivan-kolmychek-devv commented on #25
@nocategory thanks for the sources. @tetiana-kolmychek-devv asked me to take a look to confirm that we can use that from licensing standpoint.

We really appreciate the contribution that you already made to this issue and we would really like to be able to use it, so that means we have to consider licenses of parts that are used.

(Disclaimer: I am neither a lawyer nor specialist in copyright)

[R

[2019-03-08 14:57] nocategory commented on #25
Thanks for checking the licenses @ivan-kolmychek-devv, since this is my first time doing this, I just relied on the website I found all these links from (https://www.evernote.design/) and assumed they were all free for commercial and personal use since the website stated most of them as "free".

You're right about all the licenses though, and I understand you can't use those assets if they don't h

[2019-03-08 20:22] nocategory commented on #25
Alright, so after changing the assets this is what I've ended up with:
![landing_v2](https://user-images.githubusercontent.com/12294525/54053518-69336880-41df-11e9-8f97-83d9b9dfe177.jpg)

Sources:
- First section of landing blue background https://vectorforfree.com/product/teamwork-illustration/
- "We are there for you" rounded section https://vectorforfree.com/product/freelancer-illustration/
- B

[2019-03-11 09:17] ivan-kolmychek-devv commented on #25
@nocategory thank you, result looks good to me, licenses as well. :tada:

As for attributions, I think we can create a separate page with all the attributions and place a link to it near "Made with :heart:".

_As a sidenote, I think we still should give attribution to all resources that we used, even if license does not require it, as that would be a good thing to do and it doesn't cost us anythin

[2019-03-11 09:18] ivan-kolmychek-devv commented on #30
Both sound good to me, but I am not that good with graphical/UI design. @tetiana-kolmychek-devv @DevvKris what do you think?

[2019-03-11 14:01] nocategory commented on #25
@ivan-kolmychek-devv I think it's quite a great idea!
I'm thinking about a single page though, giving credit to the external resources and contributors to the repo(s). Maybe we could use contributors avatars with a tooltip that shows their names on hover.

[2019-03-11 16:07] ivan-kolmychek-devv commented on #25
@nocategory interesting idea. Sounds good to me.

I personally like the idea with displaying contributors with avatars, data on contributors can be pulled from Github API if I remember correctly.

Do you have any suggestions on how exactly that should look when it comes to external resources (like those assets that (will) use)?

[2019-03-11 17:01] nocategory commented on #25
@ivan-kolmychek-devv Maybe we could have like a Material Design-ish card with the asset and link to the website? I'll try to make a mockup today or tomorrow to show you my idea

[2019-03-13 14:25] ivan-kolmychek-devv opened #35 "Automatic deployment to dev.devv.jobs is broken (2019-03-13)"
After merging #33 we found out that our builder, that is responsible for building app and deploying it to development/production, runs an outdated version of node (`8.x`), due to minor oversight.

So, when we bumped minimum node version to `>= 9.x`, builds started to fail.

We quickly discussed it and decided to actually resolve the issue instead of reducing minimal required version, so we are wor

[2019-03-13 15:04] ivan-kolmychek-devv commented on #35
The issue has been resolved.

[2019-03-13 15:04] #35 closed

[2019-03-13 16:09] nocategory commented on #25
@ivan-kolmychek-devv okay, so I made this in a few minutes:

![acknowledgements](https://user-images.githubusercontent.com/12294525/54295104-512a6300-45aa-11e9-9671-f40c0c4337e0.jpg)

It's way simpler than the landing page, but I don't think that's that big of a deal. Let me know what your thoughts are

[2019-03-14 09:51] ivan-kolmychek-devv commented on #25
Thank you! This looks very good to me.

The only suggestion that I can come up with right now is to give contributors big cards as well, otherwise they look too small in comparison to the external resources, which is unfair - we use those resources in just a few places, while contributors like you spend a lot of their personal time on issues and pull requests.

_(As a sidenote for future implement

[2019-03-14 14:04] tetiana-kolmychek-devv commented on #25
I agree with @ivan-kolmychek-devv and overall both sketches look great!
If there is a possibility in GitHub API to exclude from contributors people from organization - I think we definetly should do that and show only external contributors..

[2019-03-14 15:42] ivan-kolmychek-devv commented on #25
@tetiana-kolmychek-devv if there is no way to do so, I think we can just [`.filter()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/filter) them after we got them, or something similar - for example, check them against hardcoded list of contributors that shouldn't be shown, (like me and potentially other members of organization).

Or something different, m

[2019-03-14 20:19] nocategory commented on #25
![acknowledgements](https://user-images.githubusercontent.com/12294525/54388784-75636e00-4696-11e9-9527-c67e88e69093.jpg)

What do you guys think of this? Tried to keep the same "theme" between the external resources and contributors.

[2019-03-15 08:58] ivan-kolmychek-devv commented on #25
@nocategory thanks, this looks better to me. More fair to contributors. :)

If @tetiana-kolmychek-devv and @DevvKris don't have any other suggestions, I think we can start implementing it.

Would you like to implement it?

[2019-03-15 13:48] nocategory commented on #25
Hey @ivan-kolmychek-devv unfortunately my knowledge on Vue is really limited for now. For that reason, I'd prefer someone more knowledgeable worked on it.
Once someone chooses to do so, I can share all the resources I used on the mockups.

[2019-03-15 20:16] lilsweetcaligula commented on #25
@nocategory You sure you don't want it? It should be relatively easy to figure out. We could additionally collaborate on this issue if you'd like.

Speaking of collaboration, may I offer this. How about you push the re-design and include the contributors' panel with all the contributors hard-coded into the HTML. After that's done, you let me know what file the contributors' panel is located in, an

[2019-03-15 20:27] lilsweetcaligula commented on #25
Now that I thought of it with the less gung-ho attitude, are you guys sure you don't want to just `filter` out the hard-coded entries instead, as you earlier suggested?

I think this is actually quite reasonable at this point, compared to the complexity of adding an extra dependency (in this case GitHub API) and logic to handle it.

[2019-03-15 20:31] lilsweetcaligula commented on #25
@nocategory You sure you don't want it? It should be relatively easy to figure out. We could additionally collaborate on this issue if you'd like - you can pick it up, and if you are stuck, I could help you figure it out.

[2019-03-15 23:36] nocategory commented on #25
@lilsweetcaligula Sure, I'll give it a go. Initially I didn't want it since I could be slowing down the issue resolution, but if everyone's ok with a little delay, I'll try it ! :)
I've already given a look at the components used on the landing page, and Vue's template system seems to be quite simple. I just haven't figured out all about the routes. Maybe I'll need some help with it when I get the

[2019-03-15 23:42] lilsweetcaligula commented on #25
@nocategory Routes should be easy to pick up, don't worry. I would personally not worry about the routes right now - instead try locating the landing page component (I am personally not sure where it is located, so I would have to check myself, else I would tell you), then inside the `mounted` method of the component (you can define one if it's not defined) you can start prototyping the code. :smi

[2019-03-15 23:57] nocategory commented on #25
By the way guys, I hadn't even though about what happens after you click "Login" or "Sign up". I was thinking about opening a modal with the form. What's your opinion on this?

[2019-03-15 23:57] lilsweetcaligula commented on #25
@nocategory Almost forgot. Front-end is using the `axios` package to make HTTP requests, so when you need to send a request to the GitHub API. you can use it. For more details on how it is used, you can check out:
[code]
where `@/candidates` is the same as `./src/candidates`. Ugh... I think.

Also, the GitHub API may require the `User-Agent` header. So if the API is refusing to reply with proper J

[2019-03-15 23:59] nocategory commented on #25
@lilsweetcaligula Yeah yeah I know ahaha don't worry though, I might be a newbie with Vue but I've already worked on some projects with axios and, most recently, my portfolio with the Github API. I should be able to manage it 😃

[2019-03-18 12:45] ivan-kolmychek-devv commented on #25
I like the discussion that has been going on. :slightly_smiling_face:

Thank you @nocategory , that would be quite cool. I don't know when we would be able to get to this issue, so help is really appreciated.  Implementing it slower beats not implementing it at all in any near future, in my humble opinion. :smile:

And thank you too @lilsweetcaligula for help. As a very small team we are not alway

[2019-03-18 14:11] tetiana-kolmychek-devv commented on #30
@lilsweetcaligula

If we place it in footer, we need to add one. It has to either be static or not. I think that neither work good for us.

If we take static one, it is hard to find a place for it - we already have a lot of static parts like sidebar, especially in the chat section. We could place it in profile part, but then it looses quite a lot of visibility.

If we take a non-static one, it may

[2019-03-18 14:46] nocategory commented on #25
@ivan-kolmychek-devv I believe after reading your comments that adding another page for login and another one for sign up would be the right thing to do. I'll start working on the redesign probably tomorrow.
By the way, did you ever think about the items in the menu? Don't really know what to place there, if anything really.

[2019-03-19 09:07] ivan-kolmychek-devv commented on #25
@nocategory cool! :+1:

Let's roll with it then. We already have login page (`https://dev.devv.jobs/sign/in`), so it's just signup page that needs to be added. Let me create separate issue for it, so it can be done in parallel if anyone wants to pick it up.

If we are talking about top menu, then we can start with link to login and signup for now. We can figure out more links later.

[2019-03-19 09:08] ivan-kolmychek-devv opened #36 "Add a separate page for signup (/sign/up)"
It should contain the form that is right now on the landing page and should be located at `/sign/up`.

It can be similar to sign in page that we have right now at `/sign/in`.

Extracted from #25, for more context you can see [this comment](https://github.com/DevvJobs/candidates-web/issues/25#issuecomment-474256164).

Feedback and suggestions are welcome.

[2019-03-19 09:09] ivan-kolmychek-devv commented on #25
@nocategory created an issue for signup page, #36.

[2019-03-19 09:17] tetiana-kolmychek-devv commented on #36
A bit more additional info:
- when creating this page, we should change link `Create account` on page `/sign/in` to point to new page (Just to not forget to change it later when landing will be redesigned :) )
- form error handling and redirect after success should be the same as for current sign up form (I think it can be just copied)
- style for desktop and mobile view can be taken from `sign/in

[2019-03-19 13:49] ivan-kolmychek-devv opened #37 "Add code to extract skills from CV PDF"
This issue is a part of [work on parsing CVs PDF](https://github.com/DevvJobs/candidates-feedback/issues/2#issuecomment-474374208).

When user provides PDF with their CV right now to the app, it extracts all the text and doesn't do much with it. :slightly_smiling_face:

We should extract skills (either from extracted text or directly from CV in the same manner as we extract all text now), put them

[2019-03-20 14:09] ivan-kolmychek-devv opened #39 "Add static server to serve /candidates in development"
Mostly to test results of `yarn build`.

[2019-03-20 15:09] ivan-kolmychek-devv commented on #39
Done.

[2019-03-20 15:09] #39 closed

[2019-03-20 15:46] ivan-kolmychek-devv commented on #5
Deployed to production, looks like it works all right. Closing the issue as done.

[2019-03-20 15:46] #5 closed

[2019-03-21 09:18] tetiana-kolmychek-devv opened #41 "Replace auth endpoints with new graphql endpoint and mutations"
We decided to move our only non-gql endpoints to gql as well and prepared structure for it on API already. (url if you want to test API in Altair: `https://stage.devvapi.com/candidates/v1/auth/graphql`)

Now we will replace them on the frontend. I will not remove old components and services right away, leaving them for around a month.
After implementation we plan to test it for a few days on the d

[2019-03-22 09:16] tetiana-kolmychek-devv commented on #25
Issue #36 have been implemented and deployed to development, now I beleive nothing is blocking this issue from being implemented. :)

[2019-03-22 22:21] lilsweetcaligula commented on #37
This feature would probably require a gql endpoint which returns a list of supported skills. Hard-coding skills may be not scalable.

[2019-03-22 22:36] lilsweetcaligula commented on #37
This feature could probably use an additional gql endpoint to serve the list of available skills. We currently have the `Skills`query, but it only seems to work if you have a query.

It would otherwise require a `query Skills` request per word. And then, to make things interesting, there are some skills which have more than one word in the name.

[2019-03-24 14:42] lilsweetcaligula opened #43 "pdfjs worker reporting: 'ReferenceError: window is not defined'"
Hello.

When I try to use the CV upload feature and upload a PDF file, the browser console reports: `ReferenceError: window is not defined`.

I recall having this error as far back as when I was working on the SignUp page, but did not attribute much importance to it at the time.

When I `git checkout` back to my `pdf-proof-of-concept` branch, everything works fine and there is no error in sight.

[2019-03-24 14:43] lilsweetcaligula commented on #43
While I may still continue experimenting with pdf-parsing on the old branch, I cannot push until the issue has been resolved. Otherwise you guys just won't be able to test it out.

[2019-03-24 14:54] lilsweetcaligula commented on #37
I thought about CV parsing a bit more.

I came to a conclusion that we may not need fuzzy search after all. The reason for that is candidates usually proofread their CVs and as such the chance of a typo is minimal. While fuzzy-search may offer good recommendations and auto-complete capabilities, I believe it is of little use in this particular scenario.

To potentially simplify the parsing a littl

[2019-03-24 15:46] lilsweetcaligula opened #45 "CV upload sometimes garbles the whitespace"
The issue occurs occasionally. Some parts of the PDF are logged correctly, whereas some others are missing whitespace, e.g. `hello world` becomes `helloworld`. This can be problematic for skill parsing.

I'll see if I can look into this problem, but I think I remember ![seeing](https://gitlab.com/autokent/pdf-parse/blob/master/lib/pdf-parse.js#L22) a mention of this behavior and the subsequent fix

[2019-03-25 09:04] tetiana-kolmychek-devv opened #46 "Remove sf font"
We discovered that one of our fonts have licence, prohibiting us from using it, so we should remove it and mb later create issue to find new font with proper licence if current replacement (Arial) would not be good enough.

[2019-03-25 09:09] nocategory commented on #46
When the redesign is implemented, the landing page font will be changed to Montserrat, according to the already shared designs

[2019-03-25 09:11] tetiana-kolmychek-devv opened #48 "Fix logout on error"
We should logout user even if mutation for logout responded with error (example: token not found) to prevend users getting stuck in logged in state in case of old token format or other unexpected issues.

[2019-03-25 11:46] ivan-kolmychek-devv commented on #48
Deployed to https://devv.jobs.

[2019-03-25 11:47] ivan-kolmychek-devv commented on #46
Deployed to https://devv.jobs.

[2019-03-25 11:47] ivan-kolmychek-devv commented on #36
Deployed to https://devv.jobs.

[2019-03-25 11:48] #36 closed

[2019-03-25 11:48] #48 closed

[2019-03-25 11:48] #46 closed

[2019-03-25 11:49] ivan-kolmychek-devv commented on #41
Deployed to https://devv.jobs.

[2019-03-25 11:49] #41 closed

[2019-03-25 11:54] ivan-kolmychek-devv opened #50 "Potential deploy issues due to pipeline changes (2019-03-25)"
We plan to adjust few things in our auto-deployment pipeline today.

This can potentially cause problems with automatically delivering merged changes to development environment (https://dev.devv.jobs), so we have decided to post notice here as well.

After we'll confirm that new changes work properly we can close this issue.

We apologize for any inconvenience.

[2019-03-25 17:34] ivan-kolmychek-devv commented on #37
Sorry for the delay in the reply. We actually had quite lengthy discussion about it until we came to the agreement on this.

Yes, we do limit results current skills query to few matches only and we do require query so we can find those matches.

We are not sure asking server for list of all possible skills is a good idea. We assume that, for the most CVs, the list of skills that are specified in C

[2019-03-25 17:34] ivan-kolmychek-devv commented on #37
I think there are two suggestions packed here - one is about having list of aliases in general and the other one is about exposing them all via GraphQL query.

Let me address first exposing them all via GraphQL query - if we assume they will be used in a similar manner as suggested "list of all skills" query, then same concern applies, but now there can be more than one entry per skill. We would p

[2019-03-25 17:40] ivan-kolmychek-devv commented on #37
Summarizing, it sounds to us that the question that frontend should ask server should not be "what are all the skills that you have?" but more of a "hey, do you have something like these few particular skills that I've got from users CV?".

As always, if you disagree with anything, have any feedback on this or any suggestions, please let us know.

[2019-03-25 17:40] lilsweetcaligula commented on #37
@ivan-kolmychek-devv I'll reply within 10 minutes. Please standby.

[2019-03-25 18:07] ivan-kolmychek-devv commented on #37
@lilsweetcaligula yes, that is an alternative to the server-side list. It also made an appearance in the internal discussion, both as permanent and temporary solution.

It sounds that neither you nor us want to ask server for available skills for every word on the CV, as it is neither accurate nor efficient. The approach you suggest (in a simplified manner) goes "ok, we have a list of tokens, let'

[2019-03-26 01:30] lilsweetcaligula commented on #37
The problem with CVs is that there's a hundred thousand different ways to format and structure them, and any assumptions can be easily broken. Guessing is hard...

On top of the unpredictability, people would probably want to upload their CV in Spanish or French, making it impossible to use any English-based heuristics. (but it would probably be reasonable to stick to English for now, so this shou

[2019-03-26 09:21] ivan-kolmychek-devv commented on #43
I've seen it before and it does appear to me like a webpack issue - when I build the app and serve it as static, I do not see this issue.

If you build the app (`yarn build`) and serve it from static server (`yarn static`), does the issue still appear?

I haven't looked into it much, as it appear to not break anything and is webpack-specific, so if someone wants to look into it - feel free to sugg

[2019-03-26 11:12] ivan-kolmychek-devv commented on #37
@lilsweetcaligula speaking for both me and @tetiana-kolmychek-devv, we discussed it more and we can see your point.

The end-goal is to make it easier to fill in the data by providing a CV. This includes skills and also years of experience for them, whenever possible.

We also assume that having false-negatives is more acceptable than false-positives. We think that this feature will be of most use

[2019-03-26 11:13] ivan-kolmychek-devv commented on #45
Caught that today as well during testing of #44.

My impression is that it can mess up detection quite significantly.

Any suggestions on we can work around it?

[2019-03-26 11:33] ivan-kolmychek-devv commented on #50
Adjustment has been finished, we see no problems so far. Closing the issue.

[2019-03-26 11:33] #50 closed

[2019-03-26 11:39] lilsweetcaligula commented on #45
@ivan-kolmychek-devv Yeah, I believe the source code to the `pdf-parse` has the answer. (Sorry, the link was broken, now fixed).

I believe the reason I could not use `pdf-parse` had something to do with the `fs` module not being available. But I feel that enabling support of `fs` on front-end is a serious security vulnerability, so we'll probably have to "adapt" the solution.

I'll try checking o

[2019-03-26 13:44] ivan-kolmychek-devv opened #51 "Add page with attributions"
We often need to give attributions to various FOSS resources we are using.

As mentioned in #25 we should create a page with acknowledgements. It can be either done [according to new sketch](https://github.com/DevvJobs/candidates-web/issues/25#issuecomment-473044585) or just done in some way that allows it to be adjusted during redesign.

Until it is done, this issue can also serve as place to col

[2019-03-26 13:45] ivan-kolmychek-devv commented on #30
Picked it up.

[2019-03-26 13:45] ivan-kolmychek-devv commented on #51
In #30 we are gonna need an icon for that link.

It will be https://fontawesome.com/icons/code?style=solid, it requires attribution

[2019-03-26 13:51] ivan-kolmychek-devv commented on #25
As we should start adding attributions soon, I've created a task for page for attributions - #51.

[2019-03-26 14:06] ivan-kolmychek-devv commented on #30
Deployed to https://dev.devv.jobs.

[2019-03-27 12:28] ivan-kolmychek-devv commented on #45
@lilsweetcaligula [wrote](https://github.com/DevvJobs/candidates-web/pull/44#issuecomment-476592313) that he does not have time anymore for this issue.

If anyone wants to pick it up or contribute in any other way - go ahead. :+1:

[2019-03-27 12:28] ivan-kolmychek-devv commented on #43
@lilsweetcaligula [wrote](https://github.com/DevvJobs/candidates-web/pull/44#issuecomment-476592313) that he does not have time anymore for this issue.

If anyone wants to pick it up or contribute in any other way - go ahead. :+1:

[2019-03-27 12:28] ivan-kolmychek-devv commented on #37
@lilsweetcaligula [wrote](https://github.com/DevvJobs/candidates-web/pull/44#issuecomment-476592313) that he does not have time anymore for this issue.

If anyone wants to pick it up or contribute in any other way - go ahead. :+1:

[2019-03-27 12:31] ivan-kolmychek-devv commented on #30
Deployed to https://devv.jobs. Closing as done.

[2019-03-27 12:31] #30 closed

[2019-03-30 14:26] lilsweetcaligula commented on #45
Basically, the whitespace issue seems to occur with the PDF packages as well. It probably has to do with the way `pdf.js` interprets PDF content as strings, but can probably be worked around.

[2019-04-01 10:42] ivan-kolmychek-devv commented on #45
Deployed to https://dev.devv.jobs.

[2019-04-01 10:45] ivan-kolmychek-devv commented on #43
Assigning to myself, found fix.

[2019-04-03 09:41] ivan-kolmychek-devv opened #55 "Try out Dependabot"
We are trying out free version of [Dependabot](https://dependabot.com), they allow for unlimited public repositories to be plugged in.

We'll see how it goes, I suspect some of the dependencies are horribly outdated. :slightly_smiling_face:

[2019-04-03 09:42] ivan-kolmychek-devv commented on #43
Forgot to comment, it has been deployed to https://dev.devv.jobs now.

[2019-04-03 11:25] ivan-kolmychek-devv opened #61 "Add CI badges"
Every open repo needs them, right? :octocat:

[2019-04-03 11:27] ivan-kolmychek-devv opened #62 "Enable CI builds for master branch"
Right now we configured Travis to build just PRs. We should add also builds for master branch, to make sure that 0) code there actually passes build and 1) so that we can have nice badge for #61.

Please note that ordering of reasons is random and in no way reflects the priority of said reasons. :slightly_smiling_face:

[2019-04-03 11:41] ivan-kolmychek-devv commented on #62
Done.

[2019-04-03 11:41] #62 closed

[2019-04-03 11:41] ivan-kolmychek-devv commented on #61
Done.

[2019-04-03 11:41] #61 closed

[2019-04-10 10:14] tetiana-kolmychek-devv opened #96 "Fix undefined sent as token on logout"

[2019-04-16 09:08] ivan-kolmychek-devv commented on #55
So far it is really helpful, let's leave it for now.

[2019-04-16 09:08] #55 closed

[2019-04-21 13:20] yfer opened #135 "User can't delete i"

[2019-04-21 13:22] yfer opened #136 "Tap don't work in 'add skill dropdown'. Only clicks are working."
On latest windows/chrome.

[2019-04-23 07:36] ivan-kolmychek-devv commented on #136
@yfer thanks for the report, we'll look into it.

[2019-04-23 07:37] ivan-kolmychek-devv commented on #135
@yfer thanks for the suggestion, that does sound like a good thing to add. :+1:

Right now we just expect people to write to support, which, admittedly, is not good from UX perspective.

Let met get back to this issue some day this week.

[2019-04-23 08:00] ivan-kolmychek-devv commented on #136
@yfer just to clarify - you mean the tap as in `tap` event, via touch-screen, right?

[2019-04-23 08:18] yfer commented on #136
@ivan-kolmychek-devv  my bad, tap on touchpad.

[2019-04-23 09:17] ivan-kolmychek-devv commented on #136
@yfer that's weird, I always assumed they just emulate click.

According to [this article](https://www.howtogeek.com/370238/how-to-use-touchpad-gestures-for-windows-10/)

Can you please try to confirm it? The steps are:
- open the Chrome
- open any page (just new tab works as well)
- open developers console (by pressing `F12` on Windows usually)
- past this code (to catch and note clicks to consol

[2019-04-23 09:22] ivan-kolmychek-devv commented on #135
@yfer after talking a bit about it, we decided to put adding mutation for it into plan for this week. We already have the code that we use for deleting people who write to support, so we can expose it via mutation for front-end code to use (after we'll double-check that it's safe and maybe adapt it a bit, since it wasn't intended for public API).

Then we can see - hopefully someone from the commu

[2019-04-25 10:34] ivan-kolmychek-devv commented on #135
@yfer as promised, getting back to you about this.

We have added the mutation for this to API now. As I've said, if anyone wants to add button somewhere for this - we'll be grateful for the PR.

As usual, API and its documentation can be explored via one of the GraphQL clients, for example, [Altair](https://altair.sirmuel.design/).

Here is an example, I've deleted one of my test accounts on stag

[2019-05-07 11:56] ivan-kolmychek-devv commented on #136
I'm closing this since it's been 14 days since it was open and we haven't heard back.
If anyone has the same problem, please create a new issue and reference there this one.

[2019-05-07 11:56] #136 closed

[2019-05-07 12:35] ivan-kolmychek-devv commented on #96
Deployed to https://devv.jobs

[2019-05-07 12:35] #96 closed

[2019-06-20 11:27] Yusadolat commented on #51
Has anyone taken this up?

[2019-07-19 14:22] Yusadolat opened #206 "devv.jobs is down"
Hey
I have been trying to reach the website for over 2 hours now. It's not going through. Any problem??
How can I help?

[2020-03-16 06:59] Yusadolat commented on #206
No response 🚶